# 2016web1-4
<!DOCTYPE html>
<html lang="ja">
 <meta charsei="utf-8">
 <title>タイトル</title>
 <link rel="stylesheet"href="=css/default.css"type="text/css">
 </head>
 <body>
 body{
  background-color:#fbf9cc;  /*背景色*/
   background-image: ur1(/image/地元写真.JPG);  /*背景画像*/
   background-repeat: repeat-x;  /*横に繰り返す*/
 }
.cat{
  font-size: 70%;
 }
 .male{
  color:32793a7;
 }
 .female{
  color:#df972f;
 }


 </body>
 </htnl>
