# 2016web1-4
<!DOCTYPE html>
<html lang="ja">
 <meta charsei="utf-8">
 <title>タイトル</title>
 <link rel="stylesheet"href="=css/default.css"type="text/css">
 </head>
 <body>
 body{
   background-image: ur1(/image/);
 }
 
 h1{
  font-size: 1.75em;
  color: #3399cc;
}
h2{
  font-size: 1.25em;
  color: #ffffff;
}
p{
  font-size: 0.8em;
  background-color:#3399cc;  /*段落の文字の色だけ変わる*/
  color: #333333;
}
li{
  font-size: 0.8em;
color: #333333;
}
a{
 color:#df4839;
}
a:hover{
 color:#ff705b; /*マウスが乗った時だけ特別な色*/
}

 </body>
 </htnl>
